<%- include('partials/header') %>
  
  <div class="container py-md-5 container--narrow mt-4 text-center" id="blur">
	<%- include('partials/flash') %>
		<div class="row justify-content-center">
			<div class="col">
				<div class="card hovercard karta">
					<div class="cardheader">
					</div>
						<div class="avatar">
							<img class="profile-photo mb-3 mt-4" src="<%= profileAvatar %>">
						</div>
							<% if (user) {
								if (isFollowing) { %>
									<form action="/removeFollow/<%= profileUsername %>" method="POST">
										<h5><b><%= profileUsername %></b></h5>
										<div class="info">
											<div class="desc">Passionate designer</div>
											<div class="desc">Curious developer</div>
											<div class="desc">Tech geek</div>
										</div>
										<div class="bottom">
											<button class="btn btn-sm text-white follow-btn mt-2 mb-5">Unfollow <i class="fas fa-user-plus"></i></button>
										</div>
									</form>
								<% } else { %>
									<form action="/addFollow/<%= profileUsername %>" method="POST">
										<h5><b><%= profileUsername %></b></h5>
										<div class="info">
											<div class="desc">Passionate designer</div>
											<div class="desc">Curious developer</div>
											<div class="desc">Tech geek</div>
										</div>
										<div class="bottom">
											<button class="btn btn-sm text-white follow-btn mt-2 mb-5">Follow <i class="fas fa-user-plus"></i></button>
										</div>
									</form>
							<%	}
							} %>
				</div>
			</div>
		</div>
																		
		<hr>
																	
		<div class="profile-nav nav nav-tabs nav-justified pt-4">
			<a href="#" class="profile-nav-link nav-item nav-link active">Posts: 0</a>
			<a href="#" class="profile-nav-link nav-item nav-link ">Followers: 0</a>
			<a href="#" class="profile-nav-link nav-item nav-link ">Following: 0</a>
    	</div>
  
    <div class="list-group">
			<% posts.forEach(function(post) {  %>
				<a href="/post/<%= post._id %>" class="list-group-item list-group-item-action">
					<div class="d-flex">
						<img class="avatar-tiny mr-3" src="<%= post.author.avatar %>">
						<strong><%= post.title %></strong>
						<div class="ml-auto"><%= post.createdDate.getDate() %>/<%= post.createdDate.getMonth() + 1 %>/<%= post.createdDate.getFullYear() %></div>
					</div>
				</a>
			<% }) %>
		</div>
		
  </div>
  
  <%- include('partials/footer') %>