<%- include('partials/header') %>
  
  <div class="container container--narrow py-md-5 mt-4" id="blur">
    <%- include('partials/flash') %>
    <div class="card kartapost">
      <div class="card-body">
        <p class="text-muted mb-5">
          <a href="/profile/<%= post.author.username %>"><img class="avatar-tiny" src="<%= post.author.avatar %>"></a>
          Posted by <a href="/profile/<%= post.author.username %>"><%= post.author.username %></a> on <%= post.createdDate.getDate() %>/<%= post.createdDate.getMonth() + 1 %>/<%= post.createdDate.getFullYear() %>
          <a class="font-weight-bold go-back" href="/profile/<%= user.username %>"><i class="fas fa-arrow-circle-left"></i> Back</a>
        </p>  
        
        <div class="d-flex justify-content-between mt-4">
          </div>
              <h2><%= post.title %></h2>
          </div>

          <div class="body-content mx-4 mb-5">
            <%= post.body %>
          </div>
          
          <% if (post.isVisitorOwner) { %>
            <span class="pb-3 px-3">
              <a href="/post/edit/<%= post._id %>" class="btn btn-primary btn-sm mr-1" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit"></i> Edit</a>
              <form class="delete-post-form d-inline" action="/post/delete/<%= post._id %>" method="POST">
                <btn class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash"></i> Delete</btn>
              </form>
            </span>
          <% } %>

        </div>
      </div>
  </div>
  
<%- include('partials/footer') %>