<%- include('partials/header') %>
  
  <div class="container container--narrow py-md-5 mt-4">
    <%- include('partials/flash') %>
    <div class="card kartapost">
      <div class="card-body">
        <a class="font-weight-bold" href="/profile/<%= user.username %>"><i class="fas fa-arrow-circle-left"></i> Back</a>
        <div class="d-flex justify-content-between mt-4">
          </div>
              <h2><%= post.title %></h2>
              <% if (post.isVisitorOwner) { %>
                <span class="pt-2">
                  <a href="/post/edit/<%= post._id %>" class="text-primary mr-2" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit"></i></a>
                  <form class="delete-post-form d-inline" action="/post/delete/<%= post._id %>" method="POST">
                    <button class="delete-post-button text-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash"></i></button>
                  </form>
                </span>
              <% } %>
          </div>
      
          <p class="text-muted small mb-4 ml-3">
            <a href="#"><img class="avatar-tiny" src="<%= post.author.avatar %>"></a>
            Posted by <a href="#"><%= post.author.username %></a> <%= post.createdDate.getDate() %>/<%= post.createdDate.getMonth() + 1 %>/<%= post.createdDate.getFullYear() %>
          </p>

          <div class="body-content ml-3 mb-5">
            <%= post.body %>
          </div>
        </div>
      </div>

  </div>
  
<%- include('partials/footer') %>